@model zadanie.Models.Products

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Product Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            Quantity Per Unit
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityPerUnit)
        </dd>

        <dt>
            Unit Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            Units In Stock
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>

        <dt>
            Units On Order
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsOnOrder)
        </dd>

        <dt>
            Reorder Level
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReorderLevel)
        </dd>

        <dt>
            Discontinued
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discontinued)
        </dd>

        <dt>
            Category Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.CategoryName)
        </dd>

        <dt>
            Company Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suppliers.CompanyName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
